* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30;
  padding: 100;
  width: 100%;
  height: 100vh;
  position: relative;
}
.pole {
  width: 500px;
  border: 20px solid black;
  border-radius: 5px;
  right: 70px;
  top: 30px;
  z-index: -1000;
  transform: rotate(-90deg);
  box-shadow: 4px 6px 10px rgb(35, 35, 35, 0.8);
}
.main-container h1 {
  color: rgb(8, 85, 126);
}
.timer-clock {
  font-size: 52px;
  font-family: 'alarm clock', sans-serif;
  border: 2px solid rgb(108, 108, 108);
  border-radius: 5px;
  padding: 30;
  background-color: rgb(35, 35, 35);
  color: rgb(255, 0, 0);
  box-shadow: 4px 6px 10px rgb(35, 35, 35, 0.8);
}
.traffic-light-container {
  border: 2px solid rgb(108, 108, 108);
  border-radius: 5px;
  padding: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20;
  position: relative;
  background-color: rgb(35, 35, 35);
  box-shadow: 4px 6px 8px rgb(35, 35, 35, 0.7);
}
.light-indicator {
  position: absolute;
  bottom: 10;
  right: 10;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgb(108, 108, 108);
}

.light {
  height: 60px;
  width: 60px;

  border-radius: 50%;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20;
  padding: 20px;
}

.radio-button-container {
  display: flex;
  flex-direction: column;
  gap: 20;
  align-items: flex-start;
  justify-content: center;
}
.radio-button-container p {
  color: rgb(8, 85, 126);
}
.radio-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20;
}

.radio-button input {
  height: 20px;
  width: 20px;
}

.time-to-wait {
  display: flex;
  gap: 20;
  align-items: center;
}

.time-to-wait input {
  padding: 5px 5px;
  border-radius: 5px;
  max-width: 50px;
}
.time-to-wait button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(8, 85, 126);
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.time-to-wait button:active {
  transform: scale(0.9);
}
.time-to-wait label {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(8, 85, 126);
}
